:host {
  width: 100%;
  padding: 10px;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
}
.all {
  grid-column: span 2;
}
timeline-chart {
  flex: 1;
}
mat-card {
  display: flex;
  flex-direction: column;
  mat-card-title {
    flex: 0 0 auto;
  }
  mat-card-content {
    position: relative;
    flex: 1;

    .container {
      display: flex;
      flex-direction: column;
    }

    ng-scrollbar,
    .container {
      overflow: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
