<ng-container *ngIf="task">
  <button mat-icon-button [matMenuTriggerFor]="menu" data-e2e="button-task-actions__trigger">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <div mat-menu-item (click)="$event.stopPropagation()">
        <mat-select
          [value]="task.state"
          (selectionChange)="changeTaskState($event.value)"
          data-e2e="button-task-actions__selector-state"
        >
          <mat-select-trigger>{{ task.state | taskState }}</mat-select-trigger>
          <mat-option [value]="taskState.active" data-e2e="button-task-actions__state-option-active"
            ><mat-icon>{{ taskState.active | taskStateIcon }}</mat-icon
            >Active</mat-option
          >
          <mat-option [value]="taskState.finished" data-e2e="button-task-actions__state-option-finished"
            ><mat-icon>{{ taskState.finished | taskStateIcon }}</mat-icon
            >Finished</mat-option
          >
          <mat-option [value]="taskState.dropped" data-e2e="button-task-actions__state-option-dropped"
            ><mat-icon>{{ taskState.dropped | taskStateIcon }}</mat-icon
            >Dropped</mat-option
          >
        </mat-select>
      </div>
      <button mat-menu-item type="button" (click)="renameTask()" data-e2e="button-task-actions__button-rename">
        Rename
      </button>
      <button mat-menu-item type="button" (click)="deleteTask()" data-e2e="button-task-actions__button-delete">
        Delete
      </button>
    </ng-template>
  </mat-menu>
</ng-container>
