<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item type="button" (click)="edit()">Edit</button>
    <button mat-menu-item type="button" (click)="remove()">Delete</button>
    <a mat-menu-item type="button" routerLink="." [queryParams]="skipAfterParams" queryParamsHandling="merge"
      >Skip everything after</a
    >
    <a mat-menu-item type="button" routerLink="." [queryParams]="skipBeforeParams" queryParamsHandling="merge"
      >Skip everything before</a
    >
  </ng-template>
</mat-menu>
