form {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr auto;
}

.name {
  grid-column: span 3;
}

@media (max-width: 530px) {
  form {
    grid-template-columns: 1fr;
  }
  .name {
    grid-column: span 1;
  }

  .dates-menu {
    display: none;
  }
}

timeline-chart-uplot {
  height: 300px;
}
