<form class="mat-body" [formRoot]="form" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <mat-form-field class="name">
    <mat-label>Name</mat-label>
    <input
      type="search"
      matInput
      placeholder="Search"
      [formField]="form.search"
      #searchInput
      cdkFocusRegionStart
      cdkFocusInitial
    />
    <button-reset-input-control
      matSuffix
      [value]="form.search().value()"
      (reset)="form.search().value.set('')"
    ></button-reset-input-control>
  </mat-form-field>
  <mat-form-field class="duration">
    <mat-label>Sort by duration</mat-label>
    <mat-select [formField]="form.durationSort">
      <mat-option [value]="null">Default</mat-option>
      <mat-option value="longestFirst">Longest first</mat-option>
      <mat-option value="shortestFirst">Shortest first</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="from">
    <mat-label>From</mat-label>
    <input matInput placeholder="From" [formField]="form.from" type="datetime-local" />
    <button-reset-input-control
      matSuffix
      [value]="form.from().value()"
      (reset)="form.from().value.set(null)"
    ></button-reset-input-control>
  </mat-form-field>
  <mat-form-field class="to">
    <mat-label>To</mat-label>
    <input matInput placeholder="To" [formField]="form.to" cdkFocusRegionEnd type="datetime-local" />
    <button-reset-input-control
      matSuffix
      [value]="form.to().value()"
      (reset)="form.to().value.set(null)"
    ></button-reset-input-control>
  </mat-form-field>
  <button class="dates-menu" mat-icon-button matSuffix [matMenuTriggerFor]="fromMenu" matTooltip="Choose range preset">
    <mat-icon svgIcon="date_range"></mat-icon>
  </button>
</form>
<mat-menu #fromMenu="matMenu">
  <button mat-menu-item (click)="setAnyTime()">Any time</button>
  <button mat-menu-item (click)="setToday()">Today</button>
  <button mat-menu-item (click)="setYesterday()">Yesterday</button>
  <button mat-menu-item (click)="setThisWeek()">This week</button>
  <button mat-menu-item (click)="setPreviousWeek()">Previous week</button>
  <button mat-menu-item (click)="setThisMonth()">This month</button>
  <button mat-menu-item (click)="setPreviousMonth()">Previous month</button>
  <button mat-menu-item (click)="setThisYear()">This year</button>
  <button mat-menu-item (click)="setPreviousYear()">Previous year</button>
</mat-menu>
@if (hasAnyTasks()) { @if (dataRange(); as dataRange) { @defer {
<timeline-chart-uplot
  [@inOutAnimation]
  [chartData]="dataRange.data"
  barWidth="day"
  [range]="dataRange.range"
  (rangeChange)="onChartRangeChange($event)"
></timeline-chart-uplot>
} } @else {
<timeline-chart-uplot [chartData]="[[], []]" barWidth="day"></timeline-chart-uplot>
} }

<svg style="display: none">
  <style>
    .u-value {
      vertical-align: -3px;
    }
  </style>
</svg>
