form {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr auto;
}

.name {
  grid-row: 1;
  grid-column: span 1;
}

.duration {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.from {
  grid-row: 2;
  grid-column: 1;
}
.to {
  grid-row: 2;
  grid-column: 2;
}

.dates-menu {
  grid-row: 2;
  grid-column: 3;
}

@media (max-width: 530px) {
  form {
    grid-template-columns: 1fr;
  }
  .name {
    grid-column: span 1;
  }

  .dates-menu {
    display: none;
  }
}

timeline-chart-uplot {
  height: 300px;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
