<form
  class="mat-body"
  (submit)="$event.preventDefault()"
  [formGroup]="form"
  cdkTrapFocus
  [cdkTrapFocusAutoCapture]="true"
>
  <mat-form-field class="name">
    <mat-label>Name</mat-label>
    <input
      type="search"
      matInput
      placeholder="Search"
      name="search"
      formControlName="search"
      #searchInput
      cdkFocusRegionStart
      cdkFocusInitial
    />
    <button-reset-input-control matSuffix [control]="form.controls.search"></button-reset-input-control>
  </mat-form-field>
  <mat-form-field class="duration">
    <mat-label>Sort by duration</mat-label>
    <mat-select formControlName="durationSort">
      <mat-option>Default</mat-option>
      <mat-option value="longestFirst">Longest first</mat-option>
      <mat-option value="shortestFirst">Shortest first</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="from">
    <input matInput [ngxMatDatetimePicker]="from" placeholder="From" formControlName="from" />
    <button-reset-input-control matSuffix [control]="form.controls.from"></button-reset-input-control>
    <mat-datepicker-toggle matSuffix [for]="$any(from)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #from [showSeconds]="true"> </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field class="to">
    <input matInput [ngxMatDatetimePicker]="to" placeholder="To" formControlName="to" cdkFocusRegionEnd />
    <button-reset-input-control matSuffix [control]="form.controls.to"></button-reset-input-control>
    <mat-datepicker-toggle matSuffix [for]="$any(to)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #to [showSeconds]="true"> </ngx-mat-datetime-picker>
  </mat-form-field>
  <button class="dates-menu" mat-icon-button matSuffix [matMenuTriggerFor]="fromMenu">
    <mat-icon>expand_more</mat-icon>
  </button>
</form>
<mat-menu #fromMenu="matMenu">
  <button mat-menu-item (click)="setAnyTime()">Any time</button>
  <button mat-menu-item (click)="setToday()">Today</button>
  <button mat-menu-item (click)="setYesterday()">Yesterday</button>
  <button mat-menu-item (click)="setThisWeek()">This week</button>
  <button mat-menu-item (click)="setPreviousWeek()">Previous week</button>
  <button mat-menu-item (click)="setThisMonth()">This month</button>
  <button mat-menu-item (click)="setPreviousMonth()">Previous month</button>
  <button mat-menu-item (click)="setThisYear()">This year</button>
  <button mat-menu-item (click)="setPreviousYear()">Previous year</button>
</mat-menu>
<ng-container *ngIf="timelineUplot$ | ngrxPush as data; else ghost">
  <ng-container *ngIf="chartRange$ | ngrxPush as range; else ghost">
    <timeline-chart-uplot
      *ngIf="data | map: hasChartData; else ghost"
      [@inOutAnimation]
      [chartData]="$any(data)"
      barWidth="day"
      [range]="range"
      (rangeChange)="onChartRangeChange($event)"
    ></timeline-chart-uplot>
  </ng-container>
</ng-container>
<ng-template #ghost>
  <timeline-chart-uplot [chartData]="[[], []]" barWidth="day"></timeline-chart-uplot>
</ng-template>
<svg style="display: none">
  <style>
    .u-value {
      vertical-align: -3px;
    }
  </style>
</svg>
