<mat-drawer-container>
  <mat-drawer mode="side" [opened]="true">
    <div class="drawer-container">
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/tasks/all"
          routerLinkActive="nav-link-active"
          class="link-all"
          matTooltip="All tasks"
        >
          <img src="/assets/favicon.svg" alt="Timer" />
        </a>
      </mat-nav-list>
      <mat-nav-list class="states">
        <a mat-list-item routerLink="/tasks/active" routerLinkActive="nav-link-active" matTooltip="Active tasks">
          <mat-icon>{{ taskState.active | taskStateIcon }}</mat-icon>
        </a>
        <a mat-list-item routerLink="/tasks/finished" routerLinkActive="nav-link-active" matTooltip="Finished tasks"
          ><mat-icon>{{ taskState.finished | taskStateIcon }}</mat-icon></a
        >
        <a mat-list-item routerLink="/tasks/dropped" routerLinkActive="nav-link-active" matTooltip="Dropped tasks"
          ><mat-icon>{{ taskState.dropped | taskStateIcon }}</mat-icon></a
        >
      </mat-nav-list>
      <mat-action-list>
        <button mat-list-item matTooltip="Import/Export" [matMenuTriggerFor]="importExportMenu">
          <mat-icon>import_export</mat-icon>
        </button>
        <mat-menu #importExportMenu="matMenu">
          <label mat-menu-item class="import-label">
            <input type="file" (input)="import($event)" />
            Import
          </label>
          <button mat-menu-item (click)="export()">Export</button>
        </mat-menu>

        <button
          *ngrxLet="theme$ as theme"
          mat-list-item
          (click)="toggleTheme()"
          [matTooltip]="theme !== 'dark' ? 'Dark mode' : 'Day mode'"
        >
          <mat-icon>{{ theme !== 'dark' ? 'nights_stay' : 'wb_sunny' }}</mat-icon>
        </button>
      </mat-action-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
