:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    --active-link-background: #cddc39;
}
mat-drawer-container {
    flex: 1;
}
mat-drawer-content {
    display: flex;
}
.active {
    background: var(--active-link-background)
}