// @import '~@angular/material/theming';

// @import './theme.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    // --active-link-background: #cddc39;
}
.link-all mat-icon {
    transform: scale(calc(32/24));
}
mat-icon {
    margin: auto;
}
mat-drawer-container {
    flex: 1;
}
mat-drawer-content {
    display: flex;
}
.drawer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    box-sizing: border-box;
}
.active {
    // color: var(--active-link-background)
}
button-user-actions {
    margin: auto auto 10px auto;
}