:host {
  display: contents;
}
.container {
  display: grid;
  grid-template-rows: 1fr;
  flex: 1;
  --fab-offset: 1rem;

  @media (min-width: 900px) {
    &:not(.task-opened) {
      grid-template-areas: 'left tasks right';
      grid-template-columns: 1fr 50% 1fr;
    }
    &.task-opened {
      grid-template-areas: 'tasks task';
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 900px) {
    grid-template-columns: [tasks-start task-start] 1fr;
    grid-template-rows: [tasks-start task-start] 1fr;

    .task {
      z-index: 1;
    }
  }
}
.task-link {
  flex: 1;
  padding: calc((48px - 1.25em) / 2) 0 !important;
  display: flex !important;
  align-items: center;
  color: inherit;
  font-weight: normal;

  mat-icon {
    margin-right: 0.25em;

    &.running {
      color: var(--primary-darker-color) !important;
    }
  }
}
.duration {
  margin-left: auto;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.tasks {
  grid-area: tasks;
  position: relative;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.task {
  grid-area: task;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
mat-toolbar {
  flex: 0 0 auto;
}
[mat-fab] {
  position: absolute;
  bottom: var(--fab-offset);
  right: var(--fab-offset);
  left: 50%;
  z-index: 10;
}
.active {
  background: var(--active-link-background);
}
h1 {
  width: 100%;
}
.search-form,
h1 {
  display: flex;
  align-items: center;
}
.range-filter {
  margin-left: auto;
  flex: 0 0 42.5px;
}
.search-form {
  margin-left: auto;
}
.state-duration {
  margin-left: 0.25em;
}
.filter-trigger-icon {
  position: relative;
  top: 3px;
}
ng-scrollbar {
  flex: 1;
}
empty-state {
  margin: auto;
}
.cdk-drop-list-dragging {
  position: relative;

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: dotted 2px grey;
  }
}
.item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
