:host {
    display: grid;
    grid-template-rows: 1fr;
    flex: 1;
    --fab-offset: 1rem;

    &:not(.task-opened) {
        grid-template-areas: 'left tasks right';
        grid-template-columns: 1fr 50% 1fr;
    }
    &.task-opened {
        grid-template-areas: "tasks task";
        grid-template-columns: 1fr 1fr;
    }
}
.task-link {
    padding: calc((48px - 1.5em) / 2) 0 !important;
}
.tasks {
    grid-area: tasks;
    position: relative;
}
.task {
    grid-area: task;
    display: flex;
    flex-direction: column;
}
[mat-fab] {
    position: absolute;
    bottom: var(--fab-offset);
    right: var(--fab-offset);
    z-index: 2;
}
.active {
    background: var(--active-link-background)
}
.full-width {
    grid-column: span 2;
}