:host {
    display: grid;
    grid-template-areas:
        "tasks"
        "task";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex: 1;
    --fab-offset: 1rem;
}
.task-link {
    padding: calc((48px - 1.5em) / 2) 0 !important;
}
.tasks {
    position: relative;
}
.task {
    display: flex;
    flex-direction: column;
}
[mat-fab] {
    position: absolute;
    bottom: var(--fab-offset);
    right: var(--fab-offset);
    z-index: 2;
}
.active {
    background: var(--active-link-background)
}
.full-width {
    grid-column: span 2;
}