<section class="tasks" *ngIf="(tasks$|ngrxPush) as tasks">
  <mat-toolbar>
    <h1>
      <ng-container *ngIf="state$|ngrxPush as state">
        {{state|taskState}}
      </ng-container>
      <span *ngIf="(tasks|tasksDuration:20000|formatDuration|ngrxPush) as duration" class="state-duration">
        ({{duration}})
      </span>
    </h1>
    <button mat-icon-button (click)="toggleFilter()"><mat-icon>filter_list</mat-icon></button>
  </mat-toolbar>
  <button (click)="addTask()" mat-fab color="accent">
    <mat-icon>add</mat-icon>
  </button>
  <tasks-filter *ngIf="searchOpened" (value)="filterParams$.next($event)" (keyup.esc)="toggleFilter()"></tasks-filter>
  <ng-scrollbar>
    <cdk-virtual-scroll-viewport #scroll [itemSize]="48" scrollViewport>
      <mat-nav-list>
        <mat-list-item *ngFor="let task of tasks; trackBy taskId">
          <a
            matLine
            [routerLink]="[task.id]"
            routerLinkActive="nav-link-active"
            class="task-link"
            #rla="routerLinkActive"
            [scrollIntoViewIf]="rla.isActive"
          >
            <mat-icon>{{task|taskStateIcon}}</mat-icon>
            <span class="name">{{task.name}}</span>
            <span class="duration">{{task|taskDuration:5000|formatDuration|ngrxPush}}</span>
          </a>
          <button-task-actions [task]="task"></button-task-actions>
        </mat-list-item>
      </mat-nav-list>
    </cdk-virtual-scroll-viewport>
  </ng-scrollbar>
</section>
<section class="task mat-app-background" *ngIf="taskOpened$|ngrxPush">
  <router-outlet></router-outlet>
</section>
