<section class="tasks" *ngIf="(tasks$|ngrxPush) as tasks">
  <ng-container *ngrxLet="state$ as state">
    <mat-toolbar>
      <h1>
        <ng-container *ngIf="state"> {{state|taskState}} </ng-container>
        <span *ngIf="(tasks|tasksDuration:20000|formatDuration|ngrxPush) as duration" class="state-duration">
          ({{duration}})
        </span>
      </h1>
      <button mat-icon-button (click)="toggleFilter()"><mat-icon>filter_list</mat-icon></button>
    </mat-toolbar>
    <tasks-filter *ngIf="searchOpened" (value)="filterParams$.next($event)" (keyup.esc)="toggleFilter()"></tasks-filter>
    <ng-container *ngIf="tasks.length; else noTasks">
      <button (click)="addTask()" mat-fab color="accent">
        <mat-icon>add</mat-icon>
      </button>

      <ng-scrollbar>
        <cdk-virtual-scroll-viewport
          #scroll
          [itemSize]="48"
          scrollViewport
          [scrollToIndex]="currentTaskIndex$|ngrxPush"
          [checkViewportSizeWhenValueChanges]="tasks"
        >
          <mat-nav-list>
            <mat-list-item *cdkVirtualFor="let task of tasks; trackBy taskId">
              <a
                matLine
                [routerLink]="[task.id]"
                fixRouterLinkActive
                routerLinkActive="nav-link-active"
                class="task-link"
                #rla="routerLinkActive"
              >
                <mat-icon>{{task|taskStateIcon}}</mat-icon>
                <span class="name">{{task.name}}</span>
                <span class="duration">{{task|taskDuration:5000|formatDuration|ngrxPush}}</span>
              </a>
              <button-task-actions [task]="task"></button-task-actions>
            </mat-list-item>
          </mat-nav-list>
        </cdk-virtual-scroll-viewport>
      </ng-scrollbar>
    </ng-container>
    <ng-template #noTasks>
      <empty-state *ngIf="!searchOpened; else noSearchResults">
        <mat-icon svgIcon="timer-logo" color="primary"></mat-icon>
        <span title>No tasks</span>
        <span subtitle>Looks like you have no {{state}} tasks</span>
        <button color="primary" mat-raised-button (click)="addTask()" type="button" routerLink="/tasks/active">
          Create a task
        </button>
      </empty-state>
      <ng-template #noSearchResults>
        <empty-state>
          <mat-icon color="accent">search</mat-icon>
          <span title>Nothing found</span>
          <span subtitle>Could not find tasks matching the criteria</span>
          <button mat-raised-button (click)="toggleFilter()" type="button">Reset filter</button>
        </empty-state>
      </ng-template>
    </ng-template>
  </ng-container>
</section>
<section class="task mat-app-background" *ngIf="taskOpened$|ngrxPush">
  <router-outlet></router-outlet>
</section>
