<section class='tasks'>
    <mat-toolbar>
        <h1>
            {{state$|async|taskState}}
            <span *ngIf='(tasks$|async|tasksDuration:20000|formatDuration|async) as duration' class='state-duration'>
                ({{duration}})
            </span>
            <button
                *ngIf='(searchOpened$|async) === false'
                class='search-button'
                mat-icon-button
                (click)='searchOpened$.next(true)'
                matTooltip='Seach'
            ><mat-icon>search</mat-icon></button>
        </h1>
        <form class='search-form mat-body' *ngIf='searchOpened$|async'>
            <button
                mat-icon-button
                (click)='searchOpened$.next(false)'
                matTooltip='Close search'
            ><mat-icon>arrow_back</mat-icon></button>
            <mat-form-field>
                <input
                type="search"
                matInput
                placeholder='Search'
                name='search'
                [value]='searchTerm$|async'
                (input)='searchTermInput$.next($event.target.value)'
                #searchInput
                (blur)='searchOpened$.next(false)'
                (keyup.esc)='searchOpened$.next(false)'
            ></mat-form-field>
        </form>
    </mat-toolbar>
    <button (click)='addTask()' mat-fab color='accent'>
        <mat-icon>add</mat-icon>
    </button>
    <ng-scrollbar *ngIf='(tasks$|async) as tasks'>
        <cdk-virtual-scroll-viewport itemSize='48' scrollViewport>
            <mat-nav-list>
                <mat-list-item *cdkVirtualFor='let task of tasks; trackBy taskId'>
                    <a
                        matLine
                        [routerLink]='[task.id]'
                        routerLinkActive='nav-link-active'
                        [routerLinkActiveOptions]="{__change_detection_hack__: tasks }"
                        class='task-link'
                        #rla='routerLinkActive'
                        [scrollIntoViewIf]='rla.isActive'
                    >
                        <mat-icon>{{task|taskStateIcon}}</mat-icon>
                        <span>{{task.name}}</span>
                        <span class='duration'>{{task|taskDuration:5000|formatDuration|async}}</span>
                    </a>
                    <button-task-actions [task]='task'></button-task-actions>
                </mat-list-item>
            </mat-nav-list>
        </cdk-virtual-scroll-viewport>
    </ng-scrollbar>
</section>
<section class="task mat-app-background" *ngIf='taskOpened$|async'>
    <router-outlet></router-outlet>
</section>