:host {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}
button-task-actions {
    margin-left: auto;
}
[mat-fab] {
    position: absolute;
    bottom: var(--fab-offset);
    right: var(--fab-offset);
    z-index: 2;
}
.session-tabular-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}