<h1 mat-dialog-title data-e2e="dialog-prompt__title">{{ data.title }}</h1>
<form mat-dialog-content id="promptForm" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label *ngIf="data.placeholder">{{ data.placeholder }}</mat-label>
    <input type="text" matInput formControlName="value" data-e2e="dialog-prompt__input" />
    <mat-error data-e2e="dialog-prompt__validation-error">Value is required</mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close data-e2e="dialog-prompt__button-dismiss">Cancel</button>
  <button type="submit" form="promptForm" mat-button data-e2e="dialog-prompt__button-submit">OK</button>
</div>
