<h1 mat-dialog-title>Keyboard shortcuts</h1>
<div mat-dialog-content>
  <dl>
    @for (key of keys; track key.action) {
      <dt>
        @for (fragment of key.formatted | map: withoutCyrillics | map: split; track $index) {
          @switch (fragment.type) {
            @case ('key') {
              <kbd>{{ fragment.value }}</kbd>
            }
            @case ('combo') {
              <span class="combo">+</span>
            }
            @case ('chord') {}
            @case ('separator') {
              <span class="separator">,</span>
            }
          }
        }
      </dt>
      <dd>{{ key.description }}</dd>
    }
  </dl>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
