/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// @import './theme.scss';
@import './theme-15.scss';
@import 'uplot/dist/uPlot.min.css';

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  font-family: Roboto, sans-serif;
}

@mixin nav-link-active($color) {
  .mat-mdc-list-base .mat-mdc-list-item.nav-link-active .mat-icon-no-color,
  .nav-link-active,
  .nav-link-active .mat-icon {
    color: $color !important;
  }
}

@include nav-link-active(var(--primary-darker-color));

.ng-scroll-content {
  max-width: 100%;
}

// https://github.com/angular/components/issues/9664
@mixin fix-icon-color($active-focused, $active-unfocused) {
  .mat-icon-no-color.fix-icon-color {
    color: $active-focused;
  }
  mat-select,
  .mat-mdc-list-base .mat-mdc-list-item,
  .mat-mdc-option,
  .mat-mdc-icon-button {
    .mat-icon-no-color,
    .mat-select-arrow {
      color: $active-focused;
    }
  }
  .mat-select-arrow-wrapper .mat-select-arrow {
    color: $active-focused;
  }

  mat-select:hover,
  .mat-mdc-list-item:hover,
  .mat-mdc-option.mat-active,
  .mat-option:hover,
  .mat-mdc-icon-button:hover {
    .mat-select-arrow,
    .mat-icon-no-color {
      color: $active-unfocused;
    }
  }
}

@include fix-icon-color(
  map-get(mat.$light-theme-foreground-palette, 'secondary-text'),
  map-get(mat.$light-theme-foreground-palette, 'icon')
);

.theme-alternate {
  @include fix-icon-color(
    map-get(mat.$dark-theme-foreground-palette, 'secondary-text'),
    map-get(mat.$dark-theme-foreground-palette, 'icon')
  );
}

a {
  color: var(--primary-darker-color);
  text-decoration: none;
}

// Preserve Angular Material 13 behavior, hide tooltip when pointer leaves the trigger
.mat-mdc-tooltip-panel {
  pointer-events: none !important;
}
