@use '@angular/material' as mat;
@use '@angular/material/core/theming/inspection' as inspection;
@use '@angular/material/core/theming/all-theme' as all-theme;
@use '@angular/material/core/theming/theming' as theming;
@use 'm3-theme' as theme;

a {
  color: var(--primary-darker-color);
  text-decoration: none;
}

@include mat.core();

@mixin used-components-theme($theme) {
  $dedupe-key: 'angular-material-theme';
  @include theming.private-check-duplicate-theme-styles($theme, $dedupe-key) {
    @include mat.core-theme($theme);
    @include mat.tooltip-theme($theme);
    @include mat.form-field-theme($theme);
    @include mat.input-theme($theme);
    @include mat.select-theme($theme);
    @include mat.dialog-theme($theme);
    @include mat.menu-theme($theme);
    @include mat.list-theme($theme);
    @include mat.button-theme($theme);
    @include mat.icon-button-theme($theme);
    @include mat.fab-theme($theme);
    @include mat.icon-theme($theme);
    @include mat.sidenav-theme($theme);
    @include mat.toolbar-theme($theme);
    @include mat.table-theme($theme);
    @include mat.snack-bar-theme($theme);
  }
}

@mixin used-components-colors($theme) {
  @include all-theme.all-component-themes(inspection.theme-remove($theme, base, typography, density));
}

@mixin overrides() {
  --mat-sidenav-container-width: 65px;
  --mat-icon-color: var(--mat-form-field-leading-icon-color);
  --mat-sidenav-container-shape: 0;
  --mat-list-active-indicator-shape: 0;
  --mat-toolbar-container-background-color: var(--mdc-plain-tooltip-supporting-text-color);
  --mat-sidenav-container-background-color: var(--mdc-plain-tooltip-supporting-text-color);
}

:root {
  @include used-components-theme(theme.$light-theme);
  @include overrides();

  --scrollbar-color: var(--mat-menu-divider-color);
  --scrollbar-active-color: var(--mat-option-selected-state-layer-color);
  --scrollbar-radius: 4px;
}
:root:has(.theme-alternate) {
  @include used-components-colors(theme.$dark-theme);
  @include overrides();
}

html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  display: flex;
}

.ng-scroll-content {
  max-width: 100%;
}

// Chrome custom scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-radius);

  &:active {
    background-color: var(--scrollbar-active-color);
  }
}
