/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import './theme.scss';
@import '~uplot/dist/uPlot.min.css';

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
}

@mixin nav-link-active($color) {
  .mat-list-base .mat-list-item.nav-link-active .mat-icon-no-color,
  .nav-link-active,
  .nav-link-active .mat-icon {
    color: $color !important;
  }
}

@include nav-link-active(var(--primary-darker-color));

.ng-scroll-content {
  max-width: 100%;
}

// https://github.com/angular/components/issues/9664
@mixin fix-icon-color($active-focused, $active-unfocused) {
  .mat-icon-no-color.fix-icon-color {
    color: $active-focused;
  }

  mat-select,
  .mat-list-base .mat-list-item,
  .mat-option,
  .mat-icon-button {
    .mat-icon-no-color,
    .mat-select-arrow {
      color: $active-focused;
    }
  }
  .mat-select-arrow-wrapper .mat-select-arrow {
    color: $active-focused;
  }

  mat-select:hover,
  .mat-list-item:hover,
  .mat-option.mat-active,
  .mat-option:hover,
  .mat-icon-button:hover {
    .mat-select-arrow,
    .mat-icon-no-color {
      color: $active-unfocused;
    }
  }
}

@include fix-icon-color(
  map-get(mat.$dark-theme-foreground-palette, 'secondary-text'),
  map-get(mat.$dark-theme-foreground-palette, 'icon')
);

@mixin fix-focused-label-color($color) {
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $color;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $color;
  }
}

.theme-alternate {
  @include fix-icon-color(
    map-get(mat.$light-theme-foreground-palette, 'icon'),
    map-get(mat.$light-theme-foreground-palette, 'text')
  );
  @include fix-focused-label-color(#{var(--primary-darker-color)});
}

a:not([class*='mat-']) {
  color: var(--primary-darker-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;

  button {
    text-transform: uppercase;
  }
}
